<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where's Waldo?</title>
    <style>
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 100vw;
        height: 100vh;
      }
    </style>
  </head>
  <body>
    <img src="whereswaldo.jpg" />
  </body>
</html>
