<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where's Waldo?</title>
    <link rel="stylesheet" href="styles/main.css" />
  </head>
  <body>
    <div class="header">
      <div class="timer"></div>
      <h2>Find these characters!</h2>
      <div class="group">
        <img src="waldoface.png" width="100" height="100" />
        <div class="col">
          <div class="circle red" id="walc"></div>
          <h3>Waldo</h3>
          <h3 class="colored" id="walt">Not Found</h3>
        </div>
      </div>
      <div class="group">
        <img src="odlawface.webp" width="100" height="100" />
        <div class="col">
          <div class="circle red" id="odlc"></div>
          <h3>Odlaw</h3>
          <h3 class="colored" id="odlt">Not Found</h3>
        </div>
      </div>
      <div class="group">
        <img src="whitebeardface.png" width="100" height="100" />
        <div class="col">
          <div class="circle red" id="wizc"></div>
          <h3>Wizard Whitebeard</h3>
          <h3 class="colored" id="wizt">Not Found</h3>
        </div>
      </div>
    </div>
    <div class="game-wrapper" id="game-wrapper" tabindex="0">
      <div class="clickable">
        <img src="whereswaldo.jpg" class="cable" />
        <div class="canvas"></div>
      </div>
    </div>
    <script type="module" src="scripts/main.js"></script>
  </body>
</html>
